/* NavbarLayout.css */

/* AppBar styling */
.navbar {
  background: linear-gradient(90deg, #1976d2, #2196f3);
  padding: 0.5rem 0;
}

/* Logo and Menu icon */
.navbar-logo {
  display: flex;
  align-items: center;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

/* Mobile Menu */
.navbar-mobile-icon {
  display: flex;
}

.navbar-menu-item {
  text-decoration: none;
  color: red; /* Set the mobile menu item link color to red */
}

/* Desktop Links */
.navbar-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: red;
}

.navbar-link-button {
  color: red; /* Set the desktop link button color to red */
  font-size: 1rem;
}

.navbar-link-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* User settings button */
.navbar-avatar-button {
  padding: 0;
  border: 2px solid white;
}

.navbar-avatar-menu {
  margin-top: 45px;
}
